@import '../../styles/variables';

.KmAppBodyDecorator {
	overflow: hidden;
	flex: auto !important;
	display: flex;
	flex-direction: column;
	&.JustPlaylist {
		position: relative;
	}

	&[data-mode='admin'] {
		.contentDivMobile {
			flex-basis: 60%;
		}

		@media screen and (max-width: $mugen-breakpoint-small) {
			.contentDivMobile {
				flex-basis: 40%;
			}
		}
	}
}

.KmAppWrapperDecorator {
	display: flex;
	flex-direction: column;
	color: white;
	--height: calc(100vh - var(--bottom, 0px) - var(--top, 0px) - var(--bar-offset, 0px));
	min-height: var(--height);
	> * {
		flex: 0 auto;
	}
	&.chibi {
		.header-group {
			&.floating-controls {
				-webkit-app-region: drag;
				cursor: move;
				> .btn {
					cursor: pointer;
					-webkit-app-region: no-drag;
				}
				display: flex;
				justify-content: flex-start;
				> p {
					img {
						max-height: 1.75em;
						margin: 0.25em 0.25em 0;
					}
					flex-grow: 1;
					display: flex;
					align-items: center;
					align-self: center;
				}
			}
		}
		.KmAppHeaderDecorator .btn {
			border-top: solid 1px rgba(140, 140, 140, 0.7019607843);
		}
	}
	&.single {
		margin: calc(var(--top) + 0.1em) 0 calc(var(--bottom) + var(--bar-offset) - 0.4em);

		.KmAppHeaderDecorator {
			min-height: 4em;
			margin-bottom: 0.1em;
			box-shadow: 0 4px 0 0 #0000001a, 0 1px 0 0 #0000001f;
		}

		&.hmargin {
			margin: calc(var(--top) + 0.4em) 0.4em calc(var(--bottom) + var(--bar-offset) - 0.4em);
		}
	}
}

@media screen and (min-width: $mugen-breakpoint-large) {
	.KmAppWrapperDecorator.single,
	.KmAppWrapperDecorator.single.hmargin {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
}

.KmAppHeaderDecorator {
	min-height: 4.5em;
	width: 100%;

	background-color: darken($mugen-btn-background, 3);

	display: flex;
	flex-direction: row;
	> * {
		order: 50; // default element order -> play arround to reorder elements
	}

	justify-content: space-between;
	align-items: stretch;

	.btn {
		position: relative;
		min-width: 3em;
		border: $mugen-btn-border;
		border-bottom: none;
		border-top: none;
		border-radius: 0;
		margin: 0;
		padding: 0;
		font-size: 1.5em;
	}

	.dropdown-settings {
		label {
			margin: 1em;
		}
		div {
			margin-top: 0.25em;
		}
		button {
			padding: 0.25em;
			height: 100%;
		}
		.dropdown-menu {
			font-size: 1.5em;
			left: 0;
			right: initial;
			position: absolute;
			z-index: 50;
		}
	}

	.dropdown {
		order: 99;
		> button {
			height: 100%;
		}
		.dropdown-menu {
			font-size: 1.5em;
			left: initial;
			right: 0;
			position: absolute;
			z-index: 50;
		}
	}

	&[data-mode='admin'] {
		.header-group.controls {
			flex: auto;
			text-align: center;
			> .btn {
				height: 100%;
			}
		}
	}

	&[data-mode='public'] {
		.btn.favorites.on {
			color: orangered;
		}

		.plSearch {
			flex: 1;
			margin: 0em;
			input {
				font-weight: bold;
				height: 100%;
				border-radius: 0;
				padding-right: 2em;
			}
		}
	}
}

.PlaylistMainDecorator {
	flex-grow: 1;
	display: inline-flex;
	flex-direction: column;
	.panel {
		border: 3px solid #1e2124;
		background-color: #2d2d2f;
		margin: 0;
		padding: 0;
		z-index: 0;

		display: flex;
		flex-flow: column;
	}

	.panel-heading {
		padding: 0.75em;
		z-index: 40;
		background-color: #2d2d2f;
		position: relative;

		&.mobile {
			z-index: unset;
			i {
				margin-left: 1em;
				margin-right: 1em;
			}
		}
	}
}
