.toast-with-img {
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
	> picture {
		flex: 1 0 30%;
		padding: 0.125em 0.2em;
		> img {
			height: auto;
			max-width: 100%;
		}
	}
	> span {
		text-align: start;
	}
}

@import '~react-toastify/scss/main';

:root {
	// React Toastify
	--toastify-color-info: #1861b1;
	--toastify-color-success: #099242;
	--toastify-color-warning: #ae5b13;
	--toastify-color-error: #7d140b;
}
