@import '../../styles/variables';
@import '../../styles/components/blurred-bg';

header.menu-container {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1em 0;
	background-color: $mugen-topbar-background;
	z-index: 999;
	--img: none;
	@media screen and (max-width: $mugen-breakpoint-large) {
		padding: 0.5em 0;
	}
	@include blurred-bg;
	> .menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 3em;
		margin: 0 0.5em;
		img {
			width: auto;
			height: auto;
			max-height: 3em;
			border-radius: 10%;
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
		}

		.menu-bar {
			display: flex;
			align-items: center;
			z-index: 1000;
			> a {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-right: 0.25em;
				cursor: pointer;
				transition: color ease-out 200ms;
				text-decoration: none;
				color: unset;
				text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
				> i {
					margin: 0 1em;
				}
				@each $name, $color in $mugen-colors {
					@if $name != 'black' {
						&.#{$name} {
							&:hover,
							&:focus {
								color: saturate(lighten($color, 25), 10);
							}
							> i {
								color: saturate(lighten($color, 10), 20);
							}
						}
					}
				}
			}
		}

		.profile-btn {
			display: flex;
		}

		.quota-bar {
			font-weight: bold;
			font-size: 1.25em;
			text-align: center;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
			background-color: scale-color($mugen-topbar-background, $lightness: -30%);
			padding: 0.5em;
			border-radius: 8px;
			height: min-content;
			z-index: 1000;
			&.exhaust {
				color: goldenrod;
			}
		}

		.dropdown-container {
			position: relative;
			> .closeHandler {
				display: none;
				&.active {
					display: initial;
				}
				position: fixed;
				top: 0;
				left: 0;
				height: 100vh;
				width: 100vw;
			}
		}

		.dropdown {
			position: absolute;
			display: none;
			&.active {
				display: flex;
			}
			flex-direction: column;
			background-color: black;
			left: auto;
			right: 0;
			top: 100%;
			width: max-content;
			padding: 1em;
			margin-top: 1em;
			border-radius: 8px;
			z-index: 20;

			> div.header {
				font-size: 1.5em;
				font-weight: bold;
				overflow-wrap: break-word;
			}

			a {
				color: white;
				text-decoration: none;
			}

			.info {
				font-weight: bold;
				> .data {
					color: gold;
				}
			}

			> .link {
				padding: 0.5em;
				> a {
					> i {
						margin-right: 0.25em;
					}
					display: flex;
					flex-wrap: nowrap;
					align-items: center;
					font-weight: bold;
					font-size: 1.25em;
					cursor: pointer;
				}
			}
		}
	}
}

@media screen and (max-width: $mugen-breakpoint-large) {
	header.menu-container > .menu .menu-bar {
		display: none;
	}
}

@media screen and (min-width: $mugen-breakpoint-large) {
	header.menu-container > .menu {
		width: 75%;
		margin: 0.5em auto;
		height: 4em;
		img {
			max-height: 4em;
		}
	}
}
